<div id="navi" class="row">
    <div id="journalNavi" class="col">
        <ul class='alphabetMenu'>
            {journalNavigation -> f:format.raw()}
        </ul>
    </div>

    <div id="ezb_search_form" class="col">
        <form action="" method="get" class="form-inline">
            <div class="form-group">
                <input type="hidden" name="L" value="{language.id}"/>
                <input type="text" class="iputStartSmall" name="jq_term1" value="{searchTerm}"/>
                <button type="submit" class="submStartSmall">{f:translate(key: 'search', extensionName: 'ezbrequest')}</button>
                <input type="hidden" name="jq_type1" value="KT"/>
                <input type="hidden" name="notation" value="{notation}"/>
                <input type="hidden" name="selected_colors[]" value="1"/>
                <input type="hidden" name="selected_colors[]" value="2"/>
                <input type="hidden" name="selected_colors[]" value="4"/>
                <input type="hidden" name="lang" value="{language.text}"/>
                <input type="hidden" name="client_ip" value="{ipAddress}"/>
                <input type="hidden" name="xmloutput" value="1"/>
            </div>
        </form>
    </div>
</div>

<div id="journalList">
    {journalList -> f:format.raw()}
</div>

<div class="institution-information">
    <h3 class="notify">Information</h3>
    <p>
        <span class="info"><f:translate key="institut" extensionName="ezbrequest"/> {institute}</span><br>
        <span class="info"><f:translate key="ipText" extensionName="ezbrequest"/> {ipAddress}</span>
    </p>
</div>

<div class="access-information">
    <ul>
        <li>
            <f:image src="{f:uri.resource(path:'Images/green.gif', extensionName:'ezbrequest')}" alt="" class="journallist-image" />
            <f:translate key="access_green" extensionName="ezbrequest"/>
        </li>
        <li>
            <f:image src="{f:uri.resource(path:'Images/yellow.gif', extensionName:'ezbrequest')}" alt="" class="journallist-image" />
            <f:translate key="access_yellow" extensionName="ezbrequest"/>
        </li>
        <li>
            <f:image src="{f:uri.resource(path:'Images/yellow_red.gif', extensionName:'ezbrequest')}" alt="" class="journallist-image" />
            <f:translate key="access_yellow_red" extensionName="ezbrequest"/>
        </li>
        <li>
            <f:image src="{f:uri.resource(path:'Images/red.gif', extensionName:'ezbrequest')}" alt="" class="journallist-image" />
            <f:translate key="access_red" extensionName="ezbrequest"/>
        </li>
    </ul>
</div>
